/* style */
body {
	font: 16px/28px tahoma, sans-serif;
	background-color: #eaeaea;
	color: #333;
	background-image: url(img/sativa.png);
}

.container {
	width: 960px;
	margin: auto;
	background-color: #fff;

}

.header {
	padding: 20px;
	padding-bottom: 1px; 
}

.header .judul {
	font-size: 30px;
	font-weight: bold;
}

.header .subjudul {
	font-size: 14px;
	margin-top: -20px;
	font-weight: none;
}

.header ul {
	padding-left: 0px;
	margin-top: -5px;
}

.header ul li {
	display: inline-block;
	margin-top: 2px;
	margin-right: 10px;
}

.header a {
	text-decoration: none;
	color: salmon; 
}

.header a:hover {
	background-color: lightskyblue;
	color: white;
}

.hero {
	height: 400px;
	background-image: url(img/sate.jpg);
	background-size: cover;
	background-position: 0 -100px;
	/*memiliki nilai 0,0 | horizonal, vertical*/
	border-top: 4px solid salmon;
	border-bottom: 4px solid lightskyblue ;

}

.main {
	padding: 20px;
	width: 600px;
	box-sizing: border-box;
	float: right;
}

.main .penulis {
	font-size: 11px;
	margin-top: -28px;
}

.main .penulis a {
	text-decoration: none;
	color: salmon;
}

.main .penulis a:hover {
	background-color: blue;
	color: white;
}

.main h2 {
	margin-top: -5px;
}

.main p {
	font-size: 14px;
	text-align: justify;
}


.sidebar {
	width: 300px;
	float: left;
	margin-top: -5px;
	margin-left: 20px;

}

.sidebar h3 {
	font-weight: bold;
	color: #333;
}

.sidebar img {
	height: 80px;
	width: 80px;
	float: left;
	padding-right: 7px;
}

.sidebar p {
	font: 13px/18px arial;
	text-align: justify;
	padding-right: 15px;
}


.footer {
	background-color: #333;
	padding: 1px;
}

.footer .copy {
	color: #eaeaea;
	text-align: center;
	font-size: 13px;
}



/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


















































